*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;

  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --ff-archivo: "Archivo", sans-serif;

  --fs-xsm: 0.625rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-xl: 1.5rem;

  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 800;

  --px-base: 1rem;
}

html {
  font-family: var(--ff-archivo);
  color: var(--text-color-primary);
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
  cursor: pointer;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  --max-width: 23.438rem;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.icon-hover:hover path {
  fill: var(--brand-color-light);
}

.h2-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  text-overflow: ellipsis;
  overflow: hidden;
}


.align-center {
  display: flex;
  align-items: center;
}

.desktop-only {
  display: none;
}

.gap1rem {
  gap: 1rem;
}

#weekly {
  margin-top: 2rem;
}

@media (width >=80em) {
  .container {
    --px-base: 2rem;

    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .grid-flow-col {
    display: grid;
    grid-auto-flow: column;
  }

  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #more-section {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    margin-bottom: 5rem;
    
    gap: 2rem;
  }

}