nav {
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;

  & .logo {
    width: 6.25rem;
    align-items: center;
  }


  & a {
    font: var(--fw-bold) var(--fs-md)/140% var(--ff-archivo);
    gap: .5rem;
  }

}

.sumary {
  justify-content: space-between;
  border-block: 1px solid var(--stroke-color);
  padding: .875rem;
  margin-block: 0 2.5rem;

  & a {
    font: var(--fw-semibold) var(--fs-sm)/145%;
    color: var(--text-color-secondary);
  }

}

.heading {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: .75rem;
  border-top: 1px solid var(--stroke-color);
  margin-block: 2rem 1.5rem;

  & a:nth-child(2) {
    gap: .25rem;
    font: var(--fw-semibold) var(--fs-sm)/145% var(--ff-archivo);
  }
}



@media (width >=80em) {
  .logo {
    width: 10rem;
  }

  .heading {
    margin-block: 5rem 1.5rem;
  }
}